<!doctype html>​
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Event</title>
      <meta name="description" content="basic template for SIT 725 Prac 4">
      <meta name="author" content="SitePoint">
      <meta property="og:title" content="SIT 725 Prac 3">
      <meta property="og:type" content="website">
      <meta property="og:description" content="basic template for SIT 725 Prac ">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Custom Style Sheet-->
    
      <link rel="stylesheet" href="./css/dashboard.css">
      <link rel="stylesheet" href="./css/findbuddy.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  
      
   </head>
   <body  >
    <div style="margin-left: 20%;">
    <button style="margin-top: 7%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Event
    </button>
    
    <div id="card-section" class="row">
    </div>
  </div> 
    </div>
    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="formGroupExampleInput">Title</label>
            <input  type="text" class="form-control" id="title" placeholder="Title of the event">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Description</label>
            <input type="text" class="form-control" id="description" placeholder="description of the event">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Image</label>
            <input type="text" class="form-control" id="imageevent" placeholder="image of the event">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Duration</label>
            <input type="text" class="form-control" id="duration" placeholder="description of the interest">
          </div>
        </div>
        <div class="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="formsubmit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>We<span>Together</span></h3>
      </div>
      <div class="right_area">
        <a id="logout_btn" href="index.html" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="dashboard.html"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="findbuddy.html"><i class="fas fa-cogs"></i><span>Events</span></a>
        <a href="event.html"><i class="fas fa-table"></i><span>FindBuddy</span></a>
      
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="images/profile.png" class="profile_image" alt="">
        <h4 id="name">Eiraj</h4>
      </div>
      <a href="./dashboard.html"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
      <a href="./event.html"><i class="fas fa-cogs"></i><span>Events</span></a>
      <a href="./findbuddy.html"><i class="fas fa-table"></i><span>FindBuddy</span></a>
    
    </div>
   </body>
   <script>
     document.getElementById("name").innerHTML = localStorage.getItem("username");
    $(document).ready(function() {
      let formData = {};
   
   formData.postalcode = "3043";
      $.ajax({
        url: '/user/event',
        data: formData,
        type: 'POST',
        success: (result) => {
            console.log(result.message);
            //for 
           addCards(result.message)
           
        },
        error: function (request, status, error) {
            alert(request.responseText);
        }
    })
    const addCards = (items) => {
    items.forEach(item => {
        let itemToAppend = '<div class="card col-md-4"><div class="card-text"><div class="title-total"><div class="title">'+item.from+'</div><h2>'+item.title+'</h2><div class="desc">'+item.description+'</div><div class="row"><button><i class="far fa-heart"></i></button><button><i class="far fa-envelope"></i></button><button><i class="fas fa-user-friends"></i></button></div></div></div> </div>';
      $("#card-section").append(itemToAppend)
    });
}
 });
   </script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="./scripts/event.js"></script>
</html>